<h1><%= t(".about_title") %></h1>
<p class="h5"><%= t(".about_html") %></p>
<script>
    document.getElementsByClassName("nav-link")[0].classList.remove("active");
    document.getElementsByClassName("nav-link")[3].classList.add("active");
</script>
