<div class="center">
  <h1><%= t(".welcome") %></h1>
  <% if signed_in? %>
    <%= link_to t(".work"), work_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
