<p class="lead">
  <%= link_to "select_theme_bt",
              choose_theme_path,
              :title=>"Select theme from your device folder",
              locale: @current_locale,
              :format=>"js",
              remote: true,
              class: "btn btn-secondary btn-sm button__left theme" %>
</p>
