.mainText {
  font: 30px sans-serif;
  padding-left: 100px;
}

.dropdown .dropdown-toggle{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.image_diag{
  display: none;
}

#slide{
  width: 100%;
}

.image .image_display .img-left-side{
  display: none;
}

.image .image_display .img-right-side{
  display: none;
}